{% extends "app/layout.twig" %}

{% block content %}
<header>
    <h1>SuisuiChat</h1>
</header>
<section id="content">
    <section id="chat">
        <div id="messages">
            {% for message in messages %}
                <div class="message_box">
                    <div class="message_title clearfix">
                        <div class="name">{{message.name}}</div>
                        <div class="time">{{message.time}}</div>
                    </div>
                    <div class="message_txt">{{message.message|nl2br}}</div>
                </div>
            {% endfor %}
            {# JSテンプレート #}
            <script id="message_box_template" type="text/x-handlebars-template">
                {% raw %}
                    <div class="message_box">
                        <div class="message_title clearfix">
                            <div class="name">{{name}}</div>
                            <div class="time">{{time}}</div>
                        </div>
                        <div class="message_txt">{{{message}}}</div>
                    </div>
                {% endraw %}
            </script>
        </div>
        <div id="chatui">
            <div>
                <span class="title">Name</span><br>
                <input type="text" id="name">
            </div>
            <div>
                <span class="title">Message:</span><br>
                <textarea id="message"></textarea>
            </div>
            <div class="buttons">
                <input type="button" id="send_btn" value="Send">
            </div>
        </div>
    </section>
    <section id="categories">
        <h2>Categories</h2>
        <div class="clearfix">
            {% for category in categories %}
                <div class="category">
                    <p>{{category.name}}</p>
                    <ul class="category_sub">
                        {% for category_sub in category.categories_sub %}
                            <li>{{category_sub.name}}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </section>
</section>
<footer>
    SuisuiChat @ 2017 Suisui. All Rights Reserved.
</footer>
{% endblock %}
